.logo {
  width: 40px;
  height: 40px;
  color: white;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: black;
}
.nav-container {
  background-color: black;
  /* height: 100vh; */
}
.navbar-logo {
  color: white;
}
